.admin-container {
  display: flex;
  height: 100vh;
  background: #f8fafc;
}


.sidebar {
  width: 230px;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.sidebar-item {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-item:hover {
  background: #1e293b;
}

.sidebar-item.active {
  background: #1e40af;
}

.admin-content {
  flex: 1;
  padding: 30px;
}

/* TABLE */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
}

.admin-table th {
  background: #f1f5f9;
  text-align: left;
}

.delete-btn {
  background: #ef4444;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background: #3b82f6;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 6px;
}

.btn-add {
  background: #10b981;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.filter-select {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: white;
  width: 420px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.15);
  animation: popup 0.25s ease-out;
}

@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-box input,
.modal-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-top: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.cancel-btn {
  background: #e5e7eb;
  padding: 8px 14px;
  border-radius: 6px;
}

.save-btn {
  background: #10b981;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
}
.chart-box {
  width: 100%;
  max-width: 700px;  
  margin: 0 auto;    
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.chart-box canvas {
  max-height: 350px;  
}
