.react-calendar__tile.zene,
.react-calendar__month-view__days__day.zene {
  background-color: #ff4d4d !important;
  color: white !important;
  border-radius: 50% !important;
  font-weight: bold !important;
}

.react-calendar__tile.lire,
.react-calendar__month-view__days__day.lire {
  background-color: #8df59b !important;
  color: black !important;
  border-radius: 50% !important;
  font-weight: bold !important;
}

.react-calendar__tile:hover {
  opacity: 0.85;
}

.react-calendar__tile--active {
  background-color: #ffd84a !important;
  color: black !important;
  border-radius: 50% !important;
  font-weight: bold;
}
